html {
    scroll-behavior: smooth;
}

body {
    background: url(../images/background_blue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*Font Settings*/

body,
input,
select,
textarea {
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    font-weight: 300;
}

/*Navigation Area*/

.navbar-custom {
    background-color: #ffffff;
    text-transform: uppercase;
}

.navbar_button {
    margin-right: 15px;
    margin-top:5px;
    padding: 5px 15px;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    display: inline-block;
}

/*Main Area*/

.main_area {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #cbe4ef;
    background-image: url("/images/bg-clouds.png");
}

.main_text {
    padding-top: 60px;
    color: #1b77ba;
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
}

.main_image {
    height: 400px;
}

/*Main 2 Area*/

.main2_area {
    background-color: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.main2_text_title {
    font-size: 24px;
    text-transform: uppercase;
}

.main2_description {
    padding-top: 10px;
    padding-bottom: 30px;
    line-height: 1.5em;
}

.main2_image {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 5px #bbbbbb;
    margin-bottom: 20px;
}

.main2_text_button {
    width: 300px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 5px #bbbbbb;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #0A7CBA;
    color: #ffffff;
    padding: 10px;
}

/*Features Area*/

.features_area {
    width: 100%;
    background-color: #cbe4ef;
    padding-top: 20px;
    padding-bottom: 20px;
}

.features_title {
    font-size: 24px;
    text-transform: uppercase;
}

.features_description {
    font-size: 16px;
    margin-bottom: 20px;
}

.features_cardwrapper {
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #656565;
    position: relative;
}

.features_cardtitle {
    width: 100%;
    height: 50px;
    padding-left: 15px;
    padding-top: 10px;
    background-color: #0A7CBA;
    color: #ffffff;
}

.features_cardimage {
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    position: absolute;
}

.features_cardtext {
    font-size: 15px;
    line-height: 20px;
    margin-left: 200px;
    padding: 10px;
    min-height: 200px;

}

.features_learnmore {
    margin-top: 10px;
    margin-right: 10px;
    text-align: right;
}

/*Services Area*/

.services_area {
    width: 100%;
    background-color: #759aab;
    padding-top: 20px;
    padding-bottom: 20px;
}

.services_title {
    font-size: 24px;
    text-transform: uppercase;
    color: #ffffff;
}

.services_description {
    font-size: 12pt;
    margin-bottom: 20px;
    color: #ffffff;
}


.services_cardwrapper {
    background-color: #ffffff;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 5px;
    overflow: hidden;
}

.services_card_iconarea {
    background-color: #41a2d3;
    text-align: center;
}

.services_card_icon {
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.services_card_content {
    padding: 10px;
}

.services_card_title {
    font-size: 18px;
    padding-bottom: 10px;
}

.services_card_text {
    font-size: 12pt;
    line-height: 26px;
    margin-bottom: 14px;
}

.services_card_list {
    font-size: 12pt;
    line-height: 26px;
}

.services_card_learnmore {
    text-align: right;
    padding-right: 20px;
    font-size: 12pt;
}


/*Free Trial Area*/

.freetrial_icon{
    width:100%;
}

.aboutus_area {
    min-height: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: #41a2d3;
}

.aboutus_title {
    color: #ffffff;
    font-size: 20pt;
    text-transform: uppercase;
}

.aboutus_description {
    color: #ffffff;
    font-size: 12pt;
    margin-bottom: 20px;
}

.aboutus_cardwrapper {
    margin-bottom: 20px;
    background-color: #efefef;
    /*    border-radius: 5px;*/
    overflow: hidden;
    box-shadow: 5px 5px 5px #777777;
}

.aboutus_image {
    float: left;
}

.aboutus_content {
    margin-left: 200px;
}

.aboutus_profile_name {
    font-size: 18pt;
    background-color: #cbe4ef;
    padding-left: 20px;
    padding-top: 5px;
}

.aboutus_profile_title {
    font-size: 14pt;
    background-color: #cbe4ef;
    padding-left: 20px;
    padding-bottom: 5px;
}

.aboutus_profile_text {
    font-size: 12pt;
    padding-left: 20px;
    padding-top: 10px;
}

.aboutus_cardimage {
    border: 5px;
    border-style: solid;
    border-color: #097CBA;
    width: 30%;
    border-radius: 50%;
    /*
    position: relative;
    top: 80px;
    right: 10px;
*/
}

.aboutus_cardtitle {
    width: 100%;
    padding-left: 55px;
}

.aboutus_cardtext {
    padding: 15px;
    font-size: 15px;
    line-height: 20px;
}

/*Contact Area*/

.contact_area {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: #0A7CBA;
}

.contact_title {
    color: #ffffff;
    font-size: 20pt;
    text-transform: uppercase;
}

.contact_description {
    color: #ffffff;
    font-size: 12pt;
    margin-bottom: 50px;
    margin-top: 20px;
}

.contact_text_button {
    width: 400px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 5px #234661;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
    background-color: #00BA9F;
    color: #ffffff;
    padding: 10px;
}

.contact_image {
    width: 100%;
    margin-bottom: 20px;
}

/*Contact Area*/

.footer_area {
    width: 100%;
    padding-top: 40px;
    background-color: #122c34;
    min-height: 600px;
    text-align: center;
}

.footer_navlink{
    color:#ffffff;
}


/*Modal FAQ*/

.faq_title{
    font-size: 17px;
    font-weight: 600;
}

.faq_text{
    font-size: 16px;
}

/*Modal Industries*/

.industries_title{
    font-size: 17px;
    font-weight: 600;
}

.industries_text{
    font-size: 16px;
}




















